header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 3%;


}

nav a{

    display: block;
}

main{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main header{

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.flex{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;


}

main header h1{

        font-size: 35px;
        margin-top: 3%;
        justify-content: center;
}

main header p{

    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

.art-style{
    display: flex;
    width: 330px;
    height: 330px;
    background-color: blue;
    margin: 1%;
    text-align:center;
    vertical-align:middle;
    
   

}

.art-style h4{
    margin: auto;
    font-size: 22px;
    font-weight: bold;

}

.art1{

    background-image: url('./img/pic01.jpg')
}

.art1:hover{

    background-image: none;
    background-color: blueviolet;
    -webkit-transform:scale(1.1);
    -webkit-transition:all .5s ease;
}

.art2{

    background-image: url('./img/pic02.jpg')
}



.art2:hover{

    background-image: none;
    background-color: brown;
    -webkit-transform:scale(1.1);
    -webkit-transition:all .5s ease;
}

.art3{

    background-image: url('./img/pic13.jpg')
}



.art3:hover{

    background-image: none;
    background-color: green;
    -webkit-transform:scale(1.1);
    -webkit-transition:all .5s ease;
}
.art4{

    background-image: url('./img/pic13.jpg')

}

.art4 p{

    align-content: center;

}

.art4:hover{

    background-image: none;
    background-color:yellowgreen;
    -webkit-transform:scale(1.1);
    -webkit-transition:all .5s ease;
}
.art5{

    background-image: url('./img/pic01.jpg')
}

.art5:hover{

    background-image: none;
    background-color:burlywoodSS;
    -webkit-transform:scale(1.1);
    -webkit-transition:all .5s ease;
}
.art6{

    background-image: url('./img/pic02.jpg');
}
.art7{

    background-image: url('./img/pic02.jpg')
}
.art8{

    background-image: url('./img/pic13.jpg')
}
.art9{

    background-image: url('./img/pic01.jpg')
}
.art10{

    background-image: url('./img/pic01.jpg')
}

.art11{

    background-image: url('./img/pic02.jpg')
}
.art12
{
    background-image: url('./img/pic13.jpg')
}

footer{

    display: flex;
    flex-direction: row;
    height: 30vh;
    font-size: 25px;   
    font-family:verdana,arial; 
    justify-content: space-around;
    margin-top: 2%;
}
footer form {

    float: center;
   }

.follow{

 float: center;
 align-items: center;
}